Telegram Chatbot.json
{
  "name": "Telegram Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        -64
      ],
      "id": "40ec2c6a-13ed-4e79-91cd-e5c0695d5b65",
      "name": "Telegram Trigger",
      "webhookId": "74156f05-ae83-4979-99b7-0a89c9ee3cbc",
      "credentials": {
        "telegramApi": {
          "id": "8giKgIrVCSf8ZbWm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        -80
      ],
      "id": "8ccb1b0b-0e4c-43da-828f-f89ac84cd695",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        128
      ],
      "id": "63319621-44bf-4ee6-9268-ebe5202a483a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R87KwLNwvAS1qBEe",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        0
      ],
      "id": "d836d0ff-e452-403b-83b6-bf0f01cbf240",
      "name": "Send a text message",
      "webhookId": "78142200-c597-457c-8ef1-1fa21919029e",
      "credentials": {
        "telegramApi": {
          "id": "8giKgIrVCSf8ZbWm",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5e365474-059f-4fe2-9136-967f97051260",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3180559875fefcf9f488bed84135e6464de79025f8984e812e219f8c2e1df0ee"
  },
  "id": "rNTtkc61oxqWvuwn",
  "tags": []
}